- hosts: all
  become: yes
  tasks:
 
  - name: "Update DNF Cache"
    dnf:
        update_cache: yes

  - name: "Upgrade All Packages"
    dnf:
        name: "*"
        state: latest

  - name: Install Required Packages
    package:
        name:
          - unzip
          - zip
          - nano
        state: latest

  - name: Add Ansible users to wheel group
    user:
        name: ansible
        groups: wheel
        append: yes
        state: present

  - name: "Create User {{ VM_USERNAME }}"
    user:
        name: "{{ VM_USERNAME }}"
        state: present
        createhome: yes
        shell: /bin/bash

  - name: Add "{{ VM_USERNAME }}" users to wheel group
    user:
        name: "{{ VM_USERNAME }}"
        groups: wheel
        append: yes
        state: present
  
  - name: Add SSH key to authorized_keys
    authorized_key:
        user: "{{ VM_USERNAME }}"
        key: "{{ VM_PUBKEY }}"
        state: present

  - name: Disable remote login for root
    ansible.builtin.lineinfile:
      path: /etc/ssh/sshd_config
      state: present
      regexp: '^PermitRootLogin yes'
      line: 'PermitRootLogin no'
